app/build
app/release
gradle/
.gradle
.idea/caches/
.idea/codeStyles/
.idea/dictionaries/
.idea/libraries/
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/tasks.xml
.idea/workspace.xml
local.properties
*.iml
AndroidKeystore